/* Override Bootstrap min-height for navbar */
#unseenGloryNavigationBar {
	min-height: 20px;
	color: #FFFFFF
}

#poemListIcon {
	cursor: pointer;
	color: #FFFFFF;
	margin-top: 15px;
	float: right
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

#unseenGloryTitle {
	font-family: 'Julius Sans One', sans-serif;
}

#unseenGloryTextContainer {
	display: inline-block
}

#unseenGloryTextContainer:hover {
	cursor: pointer
}

@media screen and (min-width: 1024px){
    .navigation-arrow-left:hover {
		color: #2E9AFE
	}
	
	.navigation-arrow-right:hover {
		color: #ff6600
	}
}

.unseen-glory-blue {
	color: #2E9AFE
}

.unseen-glory-green {
	color: #00aa00
}

.unseen-glory-orange {
	color: #ff6600
}

.navigation-arrow {
	vertical-align: middle;
	color: #FFFFFF
}

.navigation-arrow:hover {
	cursor: pointer
}

#tableOfContents {
	margin-top: 30px;
	background-color: #222
}

.content {
	margin-top: 50px
}

.poem-link-list {
	background-color: #222
}

li.poem-link {
	border: none; /* Override Bootstrap list group border */
	font-family: 'Julius Sans One', sans-serif;
	background-color: #222;
	color: white;
	cursor: pointer
}

#homeContent {
	margin: 50px auto;
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 14px;
	visibility: hidden /* Start out hidden in case told to go to a specific poem at the beginning */
}

.verse {
	font-style: italic
}

#poemContent {
	width: 310px;
	margin: 50px auto;
}

#poemTitle {
	text-align: center;
	font-family: 'Merriweather', serif;
	font-size: 22px;
	font-style: italic;
	margin-bottom: 20px
}

#poemTextContainer {
	font-family: 'Merriweather', serif;
	font-size: 12px;
	text-align: center
}

#poemText {
	display: inline-block;
	text-align: left
}